* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}

/* banner section */

.banner{
    background-image: url('../images/banner/banner1.png');

    display: flex;
    align-items: center; 
}

.banner-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    text-align: right;
    color: #151414;
    font-weight: 700;
    margin-bottom: 24px;
}

.banner-description {
    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 24px;
    margin-bottom: 32px;
    padding: 30px;
}

.banner-btn {
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FD6E0A;
}

/* failor section */
.section-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.image {
    margin-top: 131px;
    margin-right: 87px;
    margin-left: 206px;
    
}

.text {
    margin-top: 370px;
    margin-right: 322px;
    margin-left: 87px;
}

.text-title {
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}

.text-description {
    margin-top: 24px;

    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.text-list {
    margin-top: 63px;
    height: 162px;
    left: 862px;
    top: 1416px;
}

.list {

    color: #444343;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

/* plan section */
h3 {
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
    font-weight: 700;
    font-size: 40px;

    color: #151414;
}

.plan-container {
    margin-right: 229px;
    margin-left: 230px;
    display: flex;
    padding: 16px 24px;
}

.plan {
    margin-left: 86px;
    padding: 93ppx;
    width: 218px;
    height: 197px;
    left: 853px;
    top: 1889.3px;
    align-items: center;

}

.plan-img {

    margin-top: 50px;
    margin-right: 43px;
    margin-left: 43px;
    margin-bottom: 30px;
    align-items: center;

}

.plan-title {
    margin-top: 24px;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #151414;
}

.plan-description {
    margin-top: 16px;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #737272;
}

/* gradient section */
.gradient {
    padding: 130px 230px;
}

#grad1 {
    background-image: url('../images/watch.png');
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2216.3px;

    background: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%), url(../images/watch.png);
    border-radius: 8px;
    padding: 59px 64px;
    background-size: cover;
}

.grad-title {
    width: 459px;
    height: 182px;
    left: 294px;
    top: 2275.3px;
}

.gradient-btn {

    color: #FD6E0A;
    font-size: 20px;
    font-weight: 700;
    height: 64px;
    border: 0px;
    padding: 18px 35px;
    border-radius: 5px;
    background: #FFFFFF;
}
/* comment section */
.comment .section-title{
    max-width: fit-content;
    color: #474747;
    padding: 130px 200px;
    background: #FFF8F3;
    align-items: center;
    margin: 50px 200px;
}
.comment.textarea{
    
        height: 64px;  
}
    .comment .input[type="text"], input[type="email"], textarea{
        margin-bottom: 24px;
        border: 0;
        width: 100%;
        padding: 18px 30px;
    }

/* footer section */
.content {
    display: flex;
    gap: 100px;
    background: #151414;
    padding-top: 130px;
    padding-left: 230px;;
    color: #FFFFFF;
    text-align: left;
}

.section-title {
    width: 485px;
    height: 317px;
    left: 230px;
    top: 2776.3px;
    color: #FFFFFF;
    padding-top: 130px;
    padding-bottom: 16px;
   
}
h3{
    
}
.footer-title {
    font-weight: 700;
    font-size: 45px;
    line-height: 53px;
    width: 148px;
    height: 53px;
    left: 230px;
    top: 2776.3px;
    text-align: left;
}

.footer-description {
    margin-right: 331px;
    margin-left: 230px;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 16px;
}

.logo {

    left: 230px;
    top: 3047.3px;
    ;
}

.mail {
    padding: 21px;
    background-color: #151414;
    border: 2px;
    border-radius: 3px;

}
form{
    width: 325px;
height: 64px;
left: 1046px;
top: 2836.3px;
}
.form-btn {
    border:none;
    margin-top: 6px;
    border-radius: 5px;
    padding: 18px 35px;
    color: #FD6E0A;

}